{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <title>Admin Homepage</title>
{% endblock %}
{% block body %}

<div class="container">
    <div class="row justify-content-between">
        <div class="col-3 text-white" style="margin-top: 102px;">
            <div class="row p-3">
                <img style="border-radius: 50%; width: 180px;" src="{% static 'img/rabbit2.jpeg' %}" class="rounded-circle float-start"  alt="avatar">
                <div class="d-flex justify-content-start pt-1">Code Name : {{ request.user.userprofile.code_name }}</div>
                {% regroup missions|dictsort:"status" by status as mission_list %}
                {% for group in mission_list %}
                <div class="d-flex justify-content-start pt-1">{{ group.grouper }} : {{ group.list | length }}</div>
                {% empty %}
                <div class="d-flex justify-content-start pt-1">ภารกิจทั้งหมด : 0</div>
                <div class="d-flex justify-content-start pt-1">ภารกิจที่รอการอนุมัติ : 0</div>
                <div class="d-flex justify-content-start pt-1">ภารกิจที่อนุมัติ : 0</div>
                {% endfor %}     
            </div>
        </div>
        <div class="col-8">
            <div class="row p-3">
                <div class="col-10 p-3">
                    <button class="btn btn-custom" type="button" name="add_spy" onclick="location.href = '/add_spy'">
                        เพิ่มสายลับ
                    </button>
                </div>
                <div class="col-2 p-3">
                  <button class="btn btn-custom" type="button" name="add_spy" onclick="location.href = '/add_mission'">
                      เพิ่มภารกิจ
                  </button>
              </div>
            </div>
            
            <table class="table table-dark ">
                <thead>
                  <tr>
                    <th style="width: 5%" scope="col">CODE NAME</th>
                    <th style="width: 5%" scope="col">สำเร็จ</th>
                    <th style="width: 5%" scope="col">ดำเนินการ</th>
                    <th style="width: 5%" scope="col">รอการอนุมัติ</th>
                  </tr>
                </thead>
                <tbody>           
                  {% for spy in all_spy %}
                  <tr>
                    <td><a href="{% url 'SpyProfile' spy.user.id %}">{{ spy.code_name }}</a></td>
                    <td>{{ spy.complete_mission }}</td>
                    <td>{{ spy.ongoing_mission }}</td>
                    <td>{{ spy.waiting_mission }}</td>
                  {% empty %}
                    <td>Empty</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  {% endfor %}
                
                </tbody>
            </table>
        </div>
      </div>
<div>
{% endblock %}