{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <title>Spy Profile</title>
{% endblock %}
{% block body %}

<div class="container">
    <div class="row justify-content-between">

        <div class="col-3 text-white" style="margin-top: 102px;">
          <div class="row p-3">
            <img style="border-radius: 50%; width: 180px; margin: 0 auto;" src="{% static 'img/rabbit2.jpeg' %}" class="rounded-circle float-start"  alt="avatar">
            <div class="d-flex justify-content-center pt-2">code name : {{ user.userprofile.code_name }}</div>
          </div>
          <form method="POST" action= "{% url 'DeleteSpyProfile' user.id %}"> 
            {% csrf_token %}
            <div style="padding-top: 30px;" class="row">
                <button type="submit" class="btn btn-danger w-auto p-3" style="margin:0 auto;">ปลด spy</button>
            </div>
          </form>
        </div>
        <div class="col-8" style="margin-top: 102px;">
            <div class="row p-3">
                    <table class="table table-dark ">
                        <thead>
                          <tr>
                            <th style="width: 5%" scope="col">ภารกิจที่ทำสำเร็จ</th>
                            <th style="width: 5%" scope="col">ภารกิจที่ยังไม่สำเร็จ</th>
                            <th style="width: 5%" scope="col">ภารกิจที่กำลังรออนุมัติ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ user.userprofile.complete_mission }}</td>
                            <td>{{ user.userprofile.ongoing_mission }}</td>
                            <td>{{ user.userprofile.waiting_mission }}</td>
                          </tr>
                        </tbody>
                      </table>
            <div class="row p-3">
                <table class="table table-dark ">
                    <thead>
                      <tr>
                        <th style="width: 5%" scope="col">หัวข้อภารกิจ</th>
                        <th style="width: 5%" scope="col">วันที่ปฏิบัติภารกิจ</th>
                        <th style="width: 5%" scope="col">สถานะ</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for mission in missions %}
                      <tr>
                        <td><a href="{% url 'mission' mission.id %}">{{ mission.mission_name }}</a></td>
                        <td>{{ mission.date_start }}</td>
                        <td>{{ mission.status }}</td>
                      {% empty %}
                        <td>Empty</td>
                        <td>Empty</td>
                        <td>Empty</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
        </div>
        </div>
      </div>
<div>

{% endblock %}